{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container h-100">
    <div class="row h-100">
        <div class="col-12 my-auto">
            <h1 class="display-7 comic-book-text">
                When the battlefield has cleared and the dust has settled in the aftermath of an Avenger bout, we collect Avenger's stuff so you can own an item that once belonged to the beloved Avengers!
            </h1>
            <div class="row justify-content-center">
                <div class="col-4 text-center my-5">
                    <h4>
                        <a href="{% url 'products' %}" class="btn btn-danger btn-block">Shop Now</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}