<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Stuff
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?category=clothing" class="dropdown-item">Clothing</a>
                <a href="{% url 'products' %}?category=weapons" class="dropdown-item ">Weapons</a>
                <a href="{% url 'products' %}?category=items" class="dropdown-item ">Items</a>
                <a href=" {% url 'products' %} " class="dropdown-item">All</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Avenger
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="{% url 'products' %}?avenger=iron_man" class="dropdown-item">Iron Man</a>
                <a href="{% url 'products' %}?avenger=cap_america" class="dropdown-item">Captain America</a>
                <a href="{% url 'products' %}?avenger=black_widow" class="dropdown-item">Black Widow</a>
                <a href="{% url 'products' %}?avenger=thor" class="dropdown-item">Thor</a>
                <a href="{% url 'products' %}?avenger=hawkeye" class="dropdown-item">Hawkeye</a>
                <a href="{% url 'products' %}?avenger=hulk" class="dropdown-item">Hulk</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="" class="dropdown-item">New Arrivals</a>
                <a href="" class="dropdown-item">Clearance</a>
                <a href="" class="dropdown-item">All Specials</a>
            </div>
        </li>
    </ul>
</div>