{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 mt-3 offset-md-3">
        <h3>{% trans "Sign In" %}</h3>

        <p>If you would like to become a member of the Avenger Stuff society, so you can upload items, or sign up to our newsletter then you must <a href="{{ signup_url }}">sign up</a></p>

        <form class="login" method="POST" action="{% url 'account_login' %}">
          {% csrf_token %}
          {{ form.as_p }}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <button class="btn" type="submit">{% trans "Sign In" %}</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
