{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="row m-5 h-100">
    <div class="col-12 col-md-4 h-50">
        <a href="{% url 'contact_us' %}" class="btn btn-block about-link hvr-sweep-to-bottom">Contact Us</a>
    </div>
    <div class="col-12 col-md-4 h-50">
        <a href="{% url 'newsletter' %}" class="btn btn-block about-link hvr-sweep-to-bottom">Newsletter</a>
    </div>
    <div class="col-12 col-md-4 h-50">
        <a href="" class="btn btn-block about-link hvr-sweep-to-bottom">Reviews</a>
    </div>
</div>
{% endblock %}